#nav {
  background-color: var(--powder-blue-color);
  width: 100%;
  padding: 3rem 10rem;
  gap: .5rem;
  font-size: 1.6rem;
}

#nav a {
  text-decoration: none;
  margin-right: 30px;
  color: white;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

#nav a:hover {
  /* color-mix: mix a color with another color */
  background-color: color-mix(in srgb, var(--powder-blue-color) 90%, black 10%);
}